<!-- websockets.html -->
<input id="input" type="text" />
<button onclick="send()">Send</button>
<pre id="output"></pre>

<div id="player"></div>
<script>
    var input = document.getElementById("input");
    var output = document.getElementById("output");
    var hostname = window.location.hostname
    var port = window.location.port
    var socket = new WebSocket("ws://" + hostname + ":" + port + "/echo");

    socket.onopen = function () {
        output.innerHTML += "Status: Connected\n";
    };

    socket.onmessage = function (e) {
        output.innerHTML += "Server: " + e.data + "\n";
    };

    function send() {
        socket.send(input.value);
        input.value = "";
    }

</script>
<script src="static/js/youtube.js" type="text/javascript"></script>